*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

header{
    background-image: url('/images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 450px;
    padding-bottom: 400px;
}
.text{
    text-align: right;
    color:whitesmoke;
    font-size: 40px;
    font-weight: 700;
    padding-right: 300px;
    
} 
.banner-description{
    text-align: right;
    color:whitesmoke;
    font-size: 20px;
    padding-top: 50px;
    padding-right: 300px;
    
}
.btn{
    border-radius: 5px;
    background: whitesmoke;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color:blue;
    padding: 15px 35px;
    float: right;
    margin-right: 400px;
    margin-top:40px;
}   

#fix{
    display: flex;
    gap: 100px;
    padding: 150px 150px;
}
#tip{
    padding: 150px 150px;
}
.pic{
   height: 20px;
   margin-left: 20px;
}
.head{
    text-align: center;
    padding-top: 100px;
    font-size: 60px;
    padding-right: 200px;
}
.pre{
    font-size: 24px;
    padding-top: 20px;
}
 ul{
    list-style-type: none;
    font-size: 20px;
    padding-top: 20px;
}
.fa-solid{
    color: green;
    padding-right: 10px;
    font-size: 20px;
}
.title{
    font-size: 40px;
    color: black;
    text-align: center;
}
.container{
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 30px 30px;
    margin-top: 50px;
}
.contain{
    background-image: url('./images/gradient1.png'), url('./images/watch.png'); 
    background-repeat: no-repeat;
    padding: 30px 30px;
    padding-top: 100px;
    padding-bottom: 200px;
    margin-left: 600px;
    margin-top: 135px;
}
.hedin{
    font-size: 30px;
    color: whitesmoke;
}
.btn1{
    border-radius: 5px;
    background: whitesmoke;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color:blue;
    padding: 15px 35px;
    margin-right: 400px;
    margin-top:20px;
}
.footer-column{
    background-color: black;
    display: flex;
    gap: 200px;
}
.fut{
    padding: 200px 200px;
    
}

.section-title{
    font-size: 50px;
    color: whitesmoke;
    padding-right: 10px;
}
.section-description{
    font-size: 20px;
    color: whitesmoke;
}
.ads{
    font-size: 20px;
    color: whitesmoke;
    margin-top: 30px;
}
.social-links a{
    margin-right:25px ;
}
.social-links{
    padding-top: 40px;
}
.cont{
    border-radius: 5px;
    background: whitesmoke;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin-right: 400px;
    margin-top:20px;
}

